<div id="container">
    Pokemon ID: <input type="text" id="pokemon-name">
<button id="add-item"> add</button>
</div>
  <ul class="items" id="list_pokemon" >

  </ul>
  <div id="total"></div>
  <div id="error"></div>
